
.followersLayout{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    width:100%;
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 30%;
    padding:1rem;
    margin: 2rem;
    border-radius: 10px;
}