.header{
    display: flex;
    background-color: black;
    color: white;
    height: 5%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: cornflowerblue;
    /* height:2rem; */
    padding:10px;
    min-width: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}